<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
    <meta name="description" content="Une visite virtuelle est un procédé qui permet d'immerger les visiteurs dans un lieu grâce à une video
	 Elle s'accompagne ou non de commentaires audio, de descriptifs détaillés et de plans. 
	 La visite virtuelle est composée de panoramas sur 360° entre lesquels vous pouvez circuler à votre guise." />

	<meta name="keywords" content="360,maroc,maroc 360,vidéo,vidéo maroc,vidéo 360,vidéo 360 maroc,vidéo maroc 360,youtube maroc,
	video youtube,visite virtuelle 360,virtuelle 360,virtuelle vidéo,visite virtuelle vidéo," />

	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>{{ title }} - LeMaroc360</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="{{asset('bootstrap3/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/css/gsdk.css')}}" rel="stylesheet"/>
    <link href="{{asset('assets/css/site.css')}}" rel="stylesheet"/>
    {% block stylesheets %} {% endblock %}
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
    <link href="{{asset('assets/css/pe-icon-7-stroke.css')}}" rel="stylesheet" />  
</head>
<body>
<!-- Navbar will come here -->
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="/">
        <img id="logo" class="navbar-brand" src="{{asset('assets/img/logo.png')}}" alt="logo lemaroc360">
      </a>
      
    </div>
    <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Comment ça marche?</a></li>
            <li><a href="{{ path('videos') }}" class="btn btn-round btn-default">Videos</a></li>
            <li><a href="{{ path('upload') }}" class="btn btn-round btn-primary btn-fill" style="color:white;">Publier</a></li>
       </ul>    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>   
<!-- end navbar -->
<div class="wrapper">   


        {% block content %} {% endblock %}
        

</div>

<footer class="footer footer-big footer-black" >

            <div class="container">
                <div class="row">
                    
                         
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title" style="color:white;">Pages</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">
                                        Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="#comment_ça_marche">
                                       Comment ça marche?
                                    </a>
                                </li>
                                <li>
                                    <a href="publier.php">
                                       Publier
                                    </a>
                                </li>
                                <li>
                                    <a href="videos.php">
                                        Vidéos
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <h5 class="title" style="color:white;"> Informations</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ path('aboutus') }}">
                                       Qui sommes nous?
                                    </a>
                                </li>
                                <li>
                                    <a href="mentions_legals.php">
                                       Mentions légales
                                    </a>
                                </li>                           
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <h5 class="title" style="color:white;">Nous suivre</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/lemaroc360" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                 <li>
                                     <a href="https://www.youtube.com/channel/UC8UYgIXBerJUS14L_lqRV9A" class="btn btn-social btn-youtube btn-simple">
                                        <i class="fa fa-youtube"></i> Youtube
                                    </a>
                                </li>
                                <li>
                                   <a href="https://twitter.com/lemaroc360" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                     <a href="https://www.instagram.com/lemaroc360/" class="btn btn-social btn-instagram btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <hr>
                <div class="copyright" style="color:white;">
                    © 2017 lemaroc360.com, made with <i class="fa fa-heart"></i> in Casablanca.
                </div>
            </div>
        </footer>

</body>
<!--  jQuery and Bootstrap core files    -->
    <script src="assets/js/jquery.js" type="text/javascript"></script>
	<script src="assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>
	<script src="bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Plugins -->
	<script src="assets/js/gsdk-checkbox.js"></script>
	<script src="assets/js/gsdk-morphing.js"></script>
	<script src="assets/js/gsdk-radio.js"></script>
	<script src="assets/js/gsdk-bootstrapswitch.js"></script>
	<script src="assets/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!--  Get Shit Done Kit PRO Core javascript 	 -->
	<script src="assets/js/get-shit-done.js"></script>

    {% block javascript %}{% endblock %}
</html>