{% extends 'AppBundle::adminlayout.html.twig' %}
{% block content %}
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            La liste des tags
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                             <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Tag</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                    {% if tags %}
                                    {% for tag in tags %}
                                    <tr>
                                        <td>{{tag.id}}</td>
                                        <td>{{tag.tag}}</td>
                                        <td><a href="{{path('deletetag',{'id': tag.id })}}" class="btn btn-danger" role="button">Supprimer</a></td>
                                    </tr>        
                                    {% endfor %}
                                    {% endif %}  
                                    <tr>
                                    {{ form_start(form) }}
                                        <td>Nom du tag: </td>
                                        <td>{{form_widget(form.tag, {'attr': {'class':'form-control'}})}}</td>
                                        <td>{{form_widget(form.Ajouter, {'attr': {'class':'btn btn-success'}})}}</td>
                                    {{ form_end(form) }}
                                    </tr>                              
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                        <div class="navigation text-center">
                         {{ knp_pagination_render(tags) }}
                     </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}