{% extends 'AppBundle::adminlayout.html.twig' %}
{% if video %}

    {% set title = video.YoutubeInfo['title'] %}

    {% block content %}
    <div class="container">
        <div class="row main">           
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>{{ video.YoutubeInfo['title'] }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        {{video.YoutubeInfo['html']|raw}}             
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-md-offset-3">
                        <ul class="nav nav-text nav-stacked" role="tablist">
                            <li class="active">
                                <a href="#info" role="tab" data-toggle="tab">
                                    Uploader
                                </a>
                            </li>
                            <li>
                                <a href="#description" role="tab" data-toggle="tab">
                                    Description
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="info" style="text-align: left;">
                                    <p>youtube: <a href="{{video.YoutubeInfo['author_url']}}"><?= $ytvideo_info['author_name'] ?></a></p>
                                    <p>lemaroc360: {{ video.pseudo }}</p>
                                </div>
                                <div class="tab-pane" id="description" style="text-align: left;">
                                    <p>{{ video.description }}</p>
                                </div>
                            </div>

                    </div>

                    <div class="col-md-2">

                    </div>

                </div>
                  
                <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        
                        <div class="media-area media-area-small">
                            {% if commentaires %} 
                            <h3 class="text-center">{{ commentaires|length }} {{ commentaires|length > 1 ? 'commentaires' : 'commentaire' }}</h3>                         
                                <table>
                                    <th>Auteur</th>
                                    <th>Commentaire</th>
                                    <th>Action</th>
                                    {% for commentaire in commentaires %}
                                    <tr>
                                        <th>{{commentaire.pseudo}}</th>
                                        <th>{{commentaire.commentaire}}</th>
                                        <th></th>
                                    </tr>
                                    {% endfor %}
                                </table>              
                            {% endif %}

                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
        {% endblock %}
{% endif %}