{% extends 'AppBundle::adminlayout.html.twig' %}

{% block content %}
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            La liste des videos
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                             <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Titre</th>
                                    <th>Lien</th>
                                    <th>Pseudo</th>
                                    <th>Rubrique</th>
                                    <th>Statut</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                    {% if videos %}
                                    {% for video in videos %}
                                    <tr class="{{video.etat == 1 ? "success" : "warning"}}">
                                        <td>{{video.id}}</td>
                                        <td>{{video.titre}}</td>
                                        <td>{{video.lien}}</td>
                                        <td>{{video.pseudo}}</td>
                                        <td>{{video.tag}}</td>
                                        {% if video.etat == 1 %}
                                            <td>Vérifiée</td>
                                            <td><a href="{{path('deletevideo',{'id': video.id })}}" class="btn btn-danger" role="button">Supprimer</a></td>
                                        {% else %}
                                            <td>Non vérifiée</td>
                                            <td>
                                                <a href="{{path('deletevideo',{'id': video.id })}}" class="btn btn-danger" role="button">Supprimer</a><br>
                                                <a href="{{path('verifyvideo',{'id': video.id })}}" class="btn btn-success" role="button">Vérifier</a>
                                            </td>
                                        {% endif %}
                                    </tr>        
                                    {% endfor %}
                                    {% endif %}                                
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                     <div class="navigation text-center">
                         {{ knp_pagination_render(videos) }}
                     </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}