

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Une visite virtuelle est un procédé qui permet d'immerger les visiteurs dans un lieu grâce à une video
	 Elle s'accompagne ou non de commentaires audio, de descriptifs détaillés et de plans. 
	 La visite virtuelle est composée de panoramas sur 360° entre lesquels vous pouvez circuler à votre guise." />

	<meta name="keywords" content="360,maroc,maroc 360,vidéo,vidéo maroc,vidéo 360,vidéo 360 maroc,vidéo maroc 360,youtube maroc,
	video youtube,visite virtuelle 360,virtuelle 360,virtuelle vidéo,visite virtuelle vidéo," />
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Qui sommes nous ?</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/gsdk.css" rel="stylesheet"/>
    
    <link href="assets/css/site.css" rel="stylesheet" /> 
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />  
</head>

<body>
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="/"><img id="logo" class="navbar-brand" src="assets/img/logo.png" alt="logo lemaroc360"></a>
    </div>
    <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Comment ça marche ?</a></li>
             <li><a href="{{ path('videos') }}" class="btn btn-round btn-default">Vidéos</a></li>
            <li><a href="{{ path('upload') }}" class="btn btn-round btn-primary btn-fill" style="color:white;">Publier</a></li>
       </ul>  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="wrapper">
     <div class="parallax">
        <div class="parallax-image">
            <img src="assets/img/header-about.jpg">
        </div>
        <div class="motto" style="width: 100%;">
            <div>Commençons</div> 
            <div>par nous</div>
            <div>présenter</div> 
        </div> 
    </div>

    <div class="section">
           <div class="container">
               <h2 class="section-title">Pourquoi lemaroc360 ?</h2>
               <div class="row">
                   <div class="col-md-6">
                        <p>
                            Etant à la fois étudiants de l'IUT de Bordeaux et de IFIAG, nous avons pour projet d'étude la conception d'un site web référencant les vidéos filmées en 360°.
                        </p>
                        <p> Nous sommes une équipe de 4 passionnés, et amoureux de notre travail. Et biensûr nous prenons du plaisir dans ce que nous faisons.
                        </p>                 
                     </div>

                     <div class="col-md-6">
                          <img id="img-ecole"  src="assets/img/Logo-Ifiag.png" alt="logo ifiag"/>   
                          <img id="img-ecole" height="90px" src="assets/img/iut.png" alt="logo UBX"/> 
                     </div>
               </div>
           </div>
    </div><!-- section -->

    <div class="section">
        <div class="container">
            
            </hr>
            <div class="team-presentation">
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="card card-user card-plain">
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                    <img class="avatar border-gray" src="assets/img/naim.jpg" alt="..."/>
                                    <h4 class="title">Naïm Zaaïri <br />
                                        <small>Chef de projet</small>
                                    </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                    Né à Ambilly, j'ai grandi toute ma vie en France. Passionné par le web, le football, le design, et les voitures. 
                                    Je suis issu d'une formation de BTS SIO à Annecy. Je suis actuellement en Licence DAWIN de l'IUT de Bordeaux à Ifiag.
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                               
                            </div>
                        </div> <!-- end card-->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user card-plain">
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="assets/img/profilab.jpg" alt="..."/>
                                        <h4 class="title">Abdelilah Benhima <br />
                                            <small>Développeur Front-End / Back-End</small>
                                        </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                    J’ai depuis toujours eu une passion pour l’informatique ainsi que pour toute technologie innovante, et c’est grâce à un DTS au sein de l’Ecole Française d’Enseignement Technique que j’ai pu faire mes premiers pas dans le développement web . Je suis actuellement en licence DAWIN de l’UIT de Bordeaux en espérant développer davantage  mes compétences de programmeur.
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user card-plain">
                            <!-- <div class="image"></div> -->
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="assets/img/hamza.jpg" alt="..."/>
                                        <h4 class="title">Hamza Khalkane <br />
                                            <small>Développeur Front-End </small>
                                        </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                    Bonjour ! Je suis le plus poli que mes collègues. Passionné depuis tout petit par l'informatique,
                                     après mon Bac je me suis orienté vers un DTS Informatique à Casablanca. 
                                     Et je veux être développeur WEB, c'est pour cela que je suis actuellement en Licence DAWIN.
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                        <div class="card card-user card-plain">
                            <!-- <div class="image"></div> -->
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="assets/img/ayoub.jpg" alt="..."/>
                                        <h4 class="title">Ayoub Nahri <br />
                                            <small>Stratégie réseau sociaux / Référencement </small>
                                        </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                    Bienvenue sur lemaroc360 ! Je suis en Licence professionnelle DAWIN de l'IUT de Bordeaux, c'est moi
                                    qui m'occupe des réseaux sociaux donc allez likez toutes nos pages et j'aurai une prime !
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
</div> <!-- wrapper -->

<!--footer-->
<footer class="footer footer-big footer-black" >

            <div class="container">
                <div class="row">
                    
                         
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title" style="color:white;">Pages</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">
                                        Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="#comment_ça_marche">
                                       Comment ça marche ?
                                    </a>
                                </li>
                                <li>
                                    <a href="publier.php">
                                       Publier
                                    </a>
                                </li>
                                <li>
                                    <a href="videos.php">
                                        Vidéos
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <h5 class="title" style="color:white;"> Informations</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ path('aboutus') }}">
                                       Qui sommes nous ?
                                    </a>
                                </li>
                                <li>
                                    <a href="mentions_legals.php">
                                       Mentions légales
                                    </a>
                                </li>                           
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <h5 class="title" style="color:white;">Nous suivre</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/lemaroc360" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                 <li>
                                     <a href="https://www.youtube.com/channel/UC8UYgIXBerJUS14L_lqRV9A" class="btn btn-social btn-youtube btn-simple">
                                        <i class="fa fa-youtube"></i> Youtube
                                    </a>
                                </li>
                                <li>
                                   <a href="https://twitter.com/lemaroc360" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                     <a href="https://www.instagram.com/lemaroc360/" class="btn btn-social btn-instagram btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <hr>
                <div class="copyright" style="color:white;">
                    © 2017 lemaroc360.com, made with <i class="fa fa-heart"></i> in Casablanca.
                </div>
            </div>
        </footer>
<!--end footer-->
</body>

    <!--  jQuery and Bootstrap core files    -->
    <script src="assets/js/jquery.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>

    <script src="bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Get Shit Done Kit PRO Core javascript      -->
    <script src="assets/js/get-shit-done.js"></script>
        
    <script type="text/javascript">
        $().ready(function(){
            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);
        });       
    </script>
    
</html>

