
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Une visite virtuelle est un procédé qui permet d'immerger les visiteurs dans un lieu grâce à une video
	 Elle s'accompagne ou non de commentaires audio, de descriptifs détaillés et de plans. 
	 La visite virtuelle est composée de panoramas sur 360° entre lesquels vous pouvez circuler à votre guise." />

	<meta name="keywords" content="360,maroc,maroc 360,vidéo,vidéo maroc,vidéo 360,vidéo 360 maroc,vidéo maroc 360,youtube maroc,
	video youtube,visite virtuelle 360,virtuelle 360,virtuelle vidéo,visite virtuelle vidéo," />
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Accueil</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/gsdk.css" rel="stylesheet"/>
    
    <link href="assets/css/site.css" rel="stylesheet" /> 
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />  
</head>

<body>
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="/"><img id="logo" class="navbar-brand" src="assets/img/logo.png" alt="logo lemaroc360"></a>
    </div>
    <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Comment ça marche ?</a></li>
             <li><a href="{{ path('videos') }}" class="btn btn-round btn-default">Vidéos</a></li>
            <li><a href="{{ path('upload') }}" class="btn btn-round btn-primary btn-fill" style="color:white;">Publier</a></li>
       </ul>  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="wrapper">
     <div class="parallax">
        <div class="parallax-image">
            <img src="assets/img/header.jpg">
        </div>
        <div class="motto">
            <div>visiter le</div>
            <div class="border ">MAROC</div>
            <div>en 360</div>  
        </div> 
    </div>
    <div class="section yt-videos" >
            <div class="container" style="">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Les nouveautés:</h2>
                    </div>
                </div><br><br>
                

                <div class="row">
                    {% set breakrow = 0 %}
                    {% if videos %}
                        {% for video in videos %}
                            {% if breakrow % 4 == 0 %}
                                </div>
                                <div class="row">         
                            {% endif %}
                            <div class="col-md-3 col-sm-6">
                                <div class="card card-background">
                                    <div class="image">
                                        <img src="{{ video.YoutubeInfo['thumbnail_url'] }}" alt="">
                                        <div class="filter"></div>
                                    </div>
                                    <div class="content">
                                        <a href="#" class="pull-right">
                                            <span>{{ video.tag }}</span>
                                        </a>
                                        <a href="{{ path('watch', {'id': video.id, 'title': video.YoutubeInfo['title']|replace({' ': '-'})}) }}"><br>
                                            <h4 class="title">{{  video.YoutubeInfo['title'] }}</h4>
                                        </a>

                                    </div>
                                    <div class="footer">
                                        <div class="author">
                                            <a href=" {{ video.YoutubeInfo['author_url'] }}">
                                                <span>{{ video.YoutubeInfo['author_name'] }}</span>
                                            </a>
                                        </div>
                                        {% if video.Etat == 1%}
                                        <div class="stats pull-right">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        {% endif %}

                                        </div>

                                    </div> <!-- end card -->
                                </div>
                            {% set breakrow = breakrow + 1 %}
                        {% endfor %}
                    {% endif %}
                        
                    </div><br><br><!-- end row of videos -->
                    
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <a href="{{ path('videos') }}" class="btn btn-primary btn-block btn-fill" role="button">Plus de vidéos</a>
                    </div>
                    <div class="col-md-4"></div>
                </div><br><br>    
               <!--     end extras -->        
  
    </div>
    </div>
    <div id ="comment_ça_marche"class="section" style="background-color: #3b6a93; color: white;">
            <div class="container" style=" padding-top:20px; padding-bottom: 20px;">
                <div class="row">
                    <div class="col-md-3 col-sm-5">
                        <div class="row">
                            <h3 class="">Qu'est-ce que c'est ?</h3>
                        </div>
                        <div class="row">
                            <p>
                                Une visite virtuelle est un procédé qui permet d'immerger les visiteurs dans un lieu grâce à une video.
                                Elle s'accompagne ou non de commentaires audio, de descriptifs détaillés et de plans.
                                La visite virtuelle est composée de panoramas sur 360° entre lesquels vous pouvez circuler à votre guise.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-2">
                        <div class="row">
                            <h3 class="">Comment ça marche ?</h3>
                        </div>
                        <div class="row">
                            <p>
                                Retrouvez et visionnez les vidéos référencées sur lemaroc360, vous pouvez les rechercher selon des tags.<br>
                                <br>Publiez une video en la soumettant depuis le formulaire de publication, elles doivent provenir de YouTube.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm">
                        <img id="img-question" src="assets/img/question.svg" alt="">
                    </div>
                </div>
               <!--     end extras -->        
            </div>
       
    </div>
</div> <!-- wrapper -->

<!--footer-->
<footer class="footer footer-big footer-black" >

            <div class="container">
                <div class="row">
                    
                         
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title" style="color:white;">Pages</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">
                                        Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="#comment_ça_marche">
                                       Comment ça marche ?
                                    </a>
                                </li>
                                <li>
                                    <a href="publier.php">
                                       Publier
                                    </a>
                                </li>
                                <li>
                                    <a href="videos.php">
                                        Vidéos
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <h5 class="title" style="color:white;"> Informations</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ path('aboutus') }}">
                                       Qui sommes nous ?
                                    </a>
                                </li>
                                <li>
                                    <a href="mentions_legals.php">
                                       Mentions légales
                                    </a>
                                </li>                           
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <h5 class="title" style="color:white;">Nous suivre</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/lemaroc360" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                 <li>
                                     <a href="https://www.youtube.com/channel/UC8UYgIXBerJUS14L_lqRV9A" class="btn btn-social btn-youtube btn-simple">
                                        <i class="fa fa-youtube"></i> Youtube
                                    </a>
                                </li>
                                <li>
                                   <a href="https://twitter.com/lemaroc360" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                     <a href="https://www.instagram.com/lemaroc360/" class="btn btn-social btn-instagram btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <hr>
                <div class="copyright" style="color:white;">
                    © 2017 lemaroc360.com, made with <i class="fa fa-heart"></i> in Casablanca.
                </div>
            </div>
        </footer>
<!--end footer-->
</body>

    <!--  jQuery and Bootstrap core files    -->
    <script src="assets/js/jquery.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>

    <script src="bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Get Shit Done Kit PRO Core javascript      -->
    <script src="assets/js/get-shit-done.js"></script>
        
    <script type="text/javascript">
        $().ready(function(){
            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);
        });       
    </script>
    
</html>

