{% extends 'AppBundle::layout.html.twig' %}
{% set title =" Login administrateur " %}
{% block content %}
<div class="container">

      <form class="main-center" method="post" action="{{ path('login_check') }}">
        <h2 class="form-signin-heading">Administration</h2>
        <div class="form-group">
            <label for="inputEmail" >Login</label>
            <input name="_username" type="text" id="inputEmail" class="form-control"required="" autofocus="">
        </div>
        <div class="form-group">
            <label for="inputPassword" >Mot de passe</label>
            <input name ="_password"type="password" id="inputPassword" class="form-control"equired="">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-success btn-fill btn-block" type="submit">S'identifier </button>
        </div>
    
      </form>

</div>
{% endblock %}