{% extends 'AppBundle::layout.html.twig' %}

{% set title = "Publier une video" %}
{% block stylesheets %}
    <style>
        .wrapper{
            background-image: url('{{ asset('assets/img/casablanca.png') }}');
            background-size: cover;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="main-login main-center">
                {% for flash_message in app.session.flashBag.get('upload_message')%}
                    <div class="alert alert-success text-center">
                        {{flash_message}}
                    </div>
                {% endfor %}
                <h4 class="text-center">Ajouter une vidéo</h4>
                {{ form_start(form) }}
                    <div class="form-group">
                       {{ form_label(form.lien) }}
                       {{ form_errors(form.lien) }}
                       {{ form_widget(form.lien, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                       {{ form_label(form.pseudo) }}
                       {{ form_errors(form.pseudo) }}
                       {{ form_widget(form.pseudo, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                       {{ form_label(form.description) }}
                       {{ form_errors(form.description) }}
                       {{ form_widget(form.description, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                       {{ form_label(form.tag) }}
                       {{ form_errors(form.tag) }}
                       {{ form_widget(form.tag, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-blue" for="checkbox1">
                            <input type="checkbox" value="accepter" id="checkbox1" data-toggle="checkbox" required>J'ai lu et j'accepte
                            <a href ="" data-toggle="modal" data-target="#termes_conditions">les termes et conditions.</a>
                        </label>
                    </div>

                    <!-- Modal Core -->
                    <div class="modal fade" id="termes_conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Les termes et conditions</h4>
                        </div>
                        <div class="modal-body">
                           <pre> La charte de bonne conduite s’adresse à l’ensemble des utilisateurs du site lemaroc360.ma .
Elle regroupe un ensemble de règles, de civilités et de protocole.
Ces zones d’interactivité ainsi que l’ensemble du contenu du site Internet d’ARIA sont régis par la présente charte et
 par les règles du bon sens et du savoir-vivre que nous vous invitons à respecter.
Notre charte de bonne conduite a pour vocation de rappeler quelques principes essentiels de courtoisie et
 de légalité qu’il est bon de garder à l’esprit afin de garantir l’utilisation sereine de notre site Internet. 

Concernant la publication de video:
-       Seuls les liens youtube sont acceptés par le formulaire d’envoi.
-       A chaque soumission de video, lemaroc360.ma a 24h pour la verifier.
-       Lemaroc360.ma se réservent le droit de supprimer une publication si elle 
        ne respecte pas les points énoncés si dessous.
 
Ne sera publié, sans que cette liste ne soit limitative ou exhaustive, notamment tout message ou toute information,
 qui dans sa forme ou son contenu serait de nature :

·  A afficher un caractère violent, portant atteinte au respect de la personne humaine, à sa dignité,
    à l’égalité entre les femmes et les hommes et à la protection des adolescents et des enfants.

·  A encourager ou à inciter à la discrimination, la haine ou la violence à l’égard d’une personne ou d’un groupe de personnes 
    en raison de leur origine, ou de leur appartenance ou non à une ethnie, une nation, une race ou une religion déterminée,
    de leur handicap, de leurs préférences sexuelles ou toute autre différence.

·  A encourager en invitant à commettre des crimes et/ou des délits ou en incitant au suicide et/ou 
    à la consommation de substances interdites.

·  A publier tout contenu indécent, grossier, insultant, dénigrant ou diffamant à l’encontre d’autrui.

·  A facilité l’envoi et/ou la transmission de publicité, de messages promotionnels ou toute autre forme de 
    sollicitation non désirée

·  A publier du texte ou des images portant atteinte à des droits de propriété intellectuelle, 
    au droit de la personnalité et/ou des biens.

·  A proposer par tous moyens, le téléchargement de fichiers protégés par des droits de propriété intellectuelle.

·  A mettre en place un ou des liens hypertextes ou des commentaires qui se réfèrent ou renvoient vers des sites contraires
     à la présente charte.</pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                       {{ form_widget(form.publier, {'attr': {'class':'btn btn-info btn-fill'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        </div>

{% endblock %}
{% block javascript %}
    <script src="{{asset('assets/js/publier.js')}}"></script>
{% endblock %}