{% extends 'AppBundle::layout.html.twig' %}
{% set title = "Videos "%}

{% block content %}
<div class="container">
<div class="row main ">
            <div class="row ">
                <form action="{{path('videos')}}" action="GET">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input id="search_string" name ="search_string" type="text" value=""  class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">    
                               <select name="rubrique" class="selectpicker" data-style="form-control">
                                    <option disabled selected> Choisir une rubrique</option>
                                    {# chargement des tags #}
                                    {% if tags %}
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}"> {{ tag }} </option>
                                        {% endfor %}
                                    {% endif %}                           
                                </select>
                                <input type="submit" value="Rechercher" class="btn btn-info btn-fill btn-round">          
                        </div>      
                    </div>
                </form>
            </div>
        </div> 

        <div class="section">
             <div class="row">
                {# chargement des videos #}
                {% set breakrow = 0 %}
                {% if videos %}
                    {% for video in videos %}
                        {% if breakrow % 4 == 0 %}
                            </div>
                            <div class="row">         
                        {% endif %}
                        <div class="col-md-3 col-sm-6">
                            <div class="card card-background">
                                <div class="image">
                                    <img src="{{ video.YoutubeInfo['thumbnail_url'] }}" alt="">
                                    <div class="filter"></div>
                                </div>
                                <div class="content">
                                    <a href="#" class="pull-right">
                                        <span>{{ video.tag }}</span>
                                    </a>
                                    <a href="{{ path('watch', {'id': video.id, 'title': video.YoutubeInfo['title']|replace({' ': '-'})}) }}"><br>
                                        <h4 class="title">{{  video.YoutubeInfo['title'] }}</h4>
                                    </a>

                                </div>
                                <div class="footer">
                                    <div class="author">
                                        <a href=" {{ video.YoutubeInfo['author_url'] }}">
                                            <span>{{ video.YoutubeInfo['author_name'] }}</span>
                                        </a>
                                    </div>

                                    {% if video.Etat == 1 %}
                                        <div class="stats pull-right">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                    {% endif %}
                                    </div>

                                </div> <!-- end card -->
                            </div>
                        {% set breakrow = breakrow + 1 %}
                    {% endfor %}
                {% endif %}
                    
                </div><br><br><!-- end row of videos -->
                <div class="navigation text-center">
                    {{ knp_pagination_render(videos) }}
                </div>
        </div>
</div>
{% endblock %}