{% extends 'AppBundle::layout.html.twig' %}
{% if video %}

    {% set title = video.YoutubeInfo['title'] %}

    {% block content %}
    <div class="container">
        <div class="row main">           
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>{{ video.YoutubeInfo['title'] }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="video-container">{{video.YoutubeInfo['html']|raw}} </div>            
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-md-offset-3">
                        <ul class="nav nav-text nav-stacked" role="tablist">
                            <li class="active">
                                <a href="#info" role="tab" data-toggle="tab">
                                    Uploader
                                </a>
                            </li>
                            <li>
                                <a href="#description" role="tab" data-toggle="tab">
                                    Description
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="info" style="text-align: left;">
                                    <p>youtube: <a href="{{video.YoutubeInfo['author_url']}}">{{ video.YoutubeInfo['author_name'] }}</a></p>
                                    <p>lemaroc360: {{ video.pseudo }}</p>
                                </div>
                                <div class="tab-pane" id="description" style="text-align: left;">
                                    <p>{{ video.description }}</p>
                                </div>
                            </div>

                    </div>

                    <div class="col-md-2">

                    </div>

                </div>
                  
                <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        
                        <div class="media-area media-area-small comment-area">
                            {% if commentaires %} 
                            <h3 class="text-center">{{ commentaires|length }} {{ commentaires|length > 1 ? 'commentaires' : 'commentaire' }}</h3>
                            {% for commentaire in commentaires %}
                                <div class="media">
                                    <a class="pull-left" href="#">
                                    <div class="avatar">
                                            <img class="media-object" src={{asset("assets/img/profil/#{commentaire.pseudo|first|upper}.png")}} alt="...">
                                    </div>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ commentaire.pseudo }}</h4>
                                        <h6 class="pull-right ">{{ commentaire.date|date("Y/m/d") }}</h6>

                                        <p> {{ commentaire.commentaire }}</p>

                                    </div>
                                </div> <!-- end media -->
                            {% endfor %}
                            {% endif %}
 
                            <h3 class="text-center">Postuler votre commentaire</h3>
                            <div class="media media-post text-center">
                            {{ form_start(form, {'attr': {'class':'form'}})}}                        
                            <div class="media-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{form_errors(form.pseudo, {'attr': {'class':'form-control'}}) }}
                                                {{form_widget(form.pseudo, {'attr': {'class':'form-control', 'placeholder': 'Votre pseudo ici'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                     {{form_errors(form.commentaire, {'attr': {'class':'form-control'}}) }}
                                     {{form_widget(form.commentaire, {'attr': {'class':'form-control', 'placeholder': '....'}}) }}
                                    <div class="media-footer">
                                        {{form_widget(form.Envoyer, {'attr': {'class':'btn btn-info btn-fill pull-right'}}) }}
                                    </div>
                            </div><!-- end media-body -->
                            {{ form_end(form) }}
                            </div> <!-- end media-post -->

                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
        {% endblock %}
{% endif %}